body {
    margin: 0;
    background: linear-gradient(to right, #5078aa, #3D6797);
    overflow-x: hidden;
}


.fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #E0CA5BD9;
    color: white;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    padding: 55px 20px;
}

.fixed-header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bbbss {
    position: absolute;
    right: 6rem;
}


/* Оставляем старые стили для бургер-меню */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
    display: none;

}

.switch {
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    cursor: pointer;
}

.wrapper {
    width: 35px;
    height: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: all 0.2s;

}

.row {
    width: 100%;
    height: 50%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.row-bottom {
    align-items: flex-end;
}

.dot {
    width: 8px;
    height: 8px;
    border: 2px solid black;
    border-radius: 50%;
    transition: all 0.2s;
}

.row-horizontal {
    position: absolute;
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all 0.2s;
}

.row-vertical {
    position: absolute;
    width: fit-content;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    transition: all 0.2s;
}

/* Hover Effects */
.switch:hover .wrapper .row-horizontal {
    width: 100px;
}

.switch:hover .wrapper .row-vertical {
    height: 100px;
}

.switch:hover .wrapper .row-vertical .middle-dot {
    border-radius: 5px;
    height: 35px;
}

.switch:hover .wrapper .row-horizontal .middle-dot-horizontal {
    border-radius: 5px;
    width: 35px;
}

/* On-Checked State (Switch ON) */
.switch input:checked + .wrapper {
    transform: rotate(45deg) scale(1.2);
}

.switch input:checked + .wrapper .row-vertical {
    height: 100px;
}

.switch input:checked + .wrapper .row-horizontal {
    width: 100px;
}

.switch input:checked + .wrapper .row-vertical .middle-dot {
    border-radius: 5px;
    height: 35px;
}

.switch input:checked + .wrapper .row-horizontal .middle-dot-horizontal {
    border-radius: 5px;
    width: 35px;
}



.nav-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(128, 128, 128, 0.8);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translateY(-100%);
    transition: transform 0.5s ease-out;
    z-index: 999;
}

.nav-menu.active {
    transform: translateY(0);
}

.nav-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
    
}

.nav-menu ul li {
    margin: 10px 0;
}

.nav-menu ul li a {
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    transition: color 0.3s ease;
}

.nav-menu ul li a:hover {
    color: #ffd700;
}

/* Для раскрытия подменю, делаем их как обычные пункты */
.menu-item {
    position: relative;
}

.menu-item a {
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}

.submenu {
    display: none;
    list-style: none;
    padding: 0;
    margin-top: 10px;
}

.menu-item.open .submenu {
    display: block;
}

.submenu li {
    padding: 5px 0;
}

.submenu li a {
    color: white;
    font-size: 1.3rem;
}

.submenu li a:hover {
    color: #ffd700;
}


/* Стиль для стрелки */
.arrow {
    transition: transform 0.3s ease; /* Анимация для плавного поворота */
}

.menu-item.open .arrow {
    transform: rotate(90deg); /* Поворот стрелки на 90 градусов */
}




.language-selector {
    position: absolute;
    display: inline-block;
    top: 2.5rem;
    left: 80rem;
}

.flag-icon {
    margin: 4ю8px;
    cursor: pointer;
    transition: transform 0.2s ease, opacity 0.2s ease;
    width: 40px;
    height: 40px;
    top: 0;
}

.flag-icon:hover {
    transform: scale(1.1);
    opacity: 0.8;
}


.flag-menu {
    display: none;
    position: absolute;
    top: 40px;
    left: 0;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
    z-index: 100;
    min-width: 120px;
}

.flag-menu .flag-icon {
    margin: 5px;
    width: 40px;
    height: 40px;
}

.flag-menu.show {
    display: block;
    animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.social {
    position: absolute;
    top: 2.5rem;
    left: 70rem;
}

.instagram:hover {
    transform: scale(1.1);
}

.facebook:hover {
    transform: scale(1.1);
}

.location {
    position: absolute;
    color: rgb(0, 0, 0);
    font-weight: bold;
    cursor: pointer;
    text-decoration: underline;
    top: 2.5rem;
    left: 3.8rem;
}

.location-vtk {
    cursor: pointer;
}

.location a {
    text-decoration: none;
    color: white;
}

.one-location:hover {
    color: red;
    transform: scale(1.1);
}

.two-location:hover {
    color: red;
    transform: scale(1.1);

}

.three-location:hover {
    color: red;
    transform: scale(1.1);

}

.four-location:hover {
    color: red;
    transform: scale(1.1);

}

.overlay {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: #C7BB63;
    display: none;
    z-index: 10;
    border-radius: 5px;
    margin-top: 6.4px;
}

.address-menu {
    margin: 0;
    padding: 20px;
    list-style: none;
    background-color: #C7BB63;

    border-radius: 5px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.number img {
    position: absolute;
    top: 1rem;
}

.number-kz {
    position: absolute;
    font-weight: bold;
    font-size: 18px;
    top: 0;
    left: 3rem;
    color: black;
}


.icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    vertical-align: middle;
}

.icon-location img {
    position: absolute;
    left: 1.3rem;
    top: 4rem;
}





.main {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40rem;
    left: -24rem;
}

/* Карусель */
.carousel {
    position: absolute;
    overflow: hidden;
    top: 20rem;
}

.carousel-wrapper {
    display: flex;
}

.carousel-item {
    min-width: 100%;
    box-sizing: border-box;
    display: none;
    /* Скрываем все слайды по умолчанию */
}

.carousel-item.active {
    display: block;
    /* Показываем только активный слайд */
}

.carousel-item img {
    width: 100%;
    /* Растягивает изображение по ширине */
    height: 550px;
    /* Фиксированная высота */
    object-fit: cover;
    /* Обрезает изображение без искажений */
    border-radius: 44px;
}

/* Кнопки управления */
.carousel-control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.0);
    color: white;
    border: none;
    font-size: 24px;
    padding: 10px;
    cursor: pointer;
    z-index: 10;
}

.carousel-control.prev {
    left: 2rem;
}

.carousel-control.next {
    left: 48rem;
}

.carousel-control:hover {
    background-color: rgba(0, 0, 0, 0.0);
}

/* Индикаторы */
.carousel-indicators {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 20px;
    /* Располагаем индикаторы снизу */
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
}

.carousel-indicator {
    width: 12px;
    height: 12px;
    margin: 0 5px;
    border-radius: 50%;
    background-color: #bbb;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.carousel-indicator.active {
    background-color: #333;
}




.info-all {
    position: absolute;
    cursor: pointer;
    top: 44rem;
}

.abiturient {
    position: absolute;
    background-color: #E0CA5B;
    width: 500px;
    height: 150px;
    left: 75rem;
    top: 15.5rem;
    border-radius: 53px;
    transition: all 0.5s ease-in-out;
}

/* Расширение вниз */
.abiturient.expand-down {
    height: 600px;
    /* Растягивается вниз */
    top: 15rem;
}

/* Расширение влево */
.abiturient.expand-left {
    width: calc(117rem - 3rem);
    /* Растягивается до левого края карусели */
    left: 3rem;
    /* Сдвиг влево */
    top: 15rem;
}

/* === Студентам === */
.student {
    position: absolute;
    background-color: #E0CA5B;
    width: 500px;
    height: 150px;
    left: 75rem;
    top: 27.5rem;
    border-radius: 53px;
    transition: all 0.5s ease-in-out;
    /* Плавный переход */
}

/* Расширение вниз */
.student.expand-down {
    height: 600px;
    /* Растягивается вниз */
    top: 15rem;
}

/* Расширение влево */
.student.expand-left {
    width: calc(117rem - 3rem);
    /* Растягивается до левого края карусели */
    left: 3rem;
    /* Сдвиг влево */
    top: 15rem;
}

/* === Родителям === */
.parrents {
    position: absolute;
    background-color: #E0CA5B;
    width: 500px;
    height: 150px;
    left: 75rem;
    top: 39rem;
    border-radius: 53px;
    transition: all 0.5s ease-in-out;
    /* Плавный переход */
}

/* Расширение вниз */
.parrents.expand-down {
    height: 600px;
    /* Растягивается вниз */
    top: 15rem;
}

/* Расширение влево */
.parrents.expand-left {
    width: calc(117rem - 3rem);
    /* Растягивается до левого края карусели */
    left: 3rem;
    /* Сдвиг влево */
    top: 15rem;
}

/* === Стили текста === */
.name-abit,
.name-stud,
.name-par {
    color: white;
    font-size: 30px;
    font-weight: bold;
    margin-left: 10rem;
    margin-top: 3rem;
    cursor: pointer;
}

.name-abit span,
.name-stud span,
.name-par span {
    font-weight: normal;
    font-size: 18px;
}

.hidden {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease-out, visibility 0s 0.5s;
    /* Плавное исчезновение */
}

.hidden-delay {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease-out, visibility 0s 0.5s;
    /* Задержка после анимации */
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 30px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    display: none;
}

.close-btn:hover {
    color: #FF0000;
}

/* === Анимация закрытия === */
.abiturient.expand-down-close,
.student.expand-down-close,
.parrents.expand-down-close {
    height: 150px;
    transition: height 0.5s ease-in-out;
}

.abiturient.expand-left-close,
.student.expand-left-close,
.parrents.expand-left-close {
    width: 500px;
    left: 75rem;
    transition: width 0.5s ease-in-out, left 0.5s ease-in-out;
}


.logotype {
    position: absolute;
    top: 5rem;
}

.logo {
    height: auto;
    cursor: pointer;
}

.lines-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.line {
    position: absolute;
    width: 2px;
    background-color: #000;
    opacity: 0;
    transition: all 1s ease-in-out;
}

.line-text {
    position: absolute;
    font-size: 16px;
    font-weight: bold;
    color: #000;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.vtk {
    position: absolute;
    left: 58rem;
    font-size: 60px;
    font-weight: bold;
    color: white;
    top: 12rem;
}

.vtk span {
    font-size: 42px;
    font-weight: normal;
    left: 1rem;
}






#vtkName {
    transition: opacity 1s ease, visibility 1s ease;
}

.lines-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.line {
    stroke: #000;
    stroke-width: 2;
    fill: none;
    opacity: 0;
    stroke-dasharray: 1000;
    /* Начальная длина линии */
    stroke-dashoffset: 1000;
    /* Начальная линия не видна */
    transition: opacity 1s ease;
}

.text {
    fill: #000;
    font-size: 16px;
    font-family: Arial, sans-serif;
    opacity: 0;
    transition: opacity 1s ease;
}

@keyframes lineAnimation {
    0% {
        stroke-dashoffset: 1000;
        opacity: 1;
    }

    100% {
        stroke-dashoffset: 0;
        opacity: 1;
    }
}

@keyframes textAnimation {
    0% {
        opacity: 0;
        transform: translateY(10px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Добавляем анимацию для линий */
.line-animated {
    animation: lineAnimation 2s forwards;
    /* Анимация рисования линии */
}

/* Добавляем анимацию для текста */
.text-animated {
    animation: textAnimation 1s forwards;
}









.qqq {
    position: absolute;
    padding: 2em 5em;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #C7BB63;
    border: none;
    border-radius: 20px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    margin-top: -8rem;
    margin-left: 61rem;
}

.qqq:hover {
    background-color: #d1c76f;
    box-shadow: 0px 15px 20px rgba(212, 181, 3, 0.4);
    color: #fff;
    transform: translateY(-7px);
}

.qqq:active {
    transform: translateY(-1px);
}


.www {
    position: absolute;
    padding: 2em 5em;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #C7BB63;
    border: none;
    border-radius: 20px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    margin-left: 80rem;
    margin-top: -8rem;
}

.www:hover {
    background-color: #d1c76f;
    box-shadow: 0px 15px 20px rgba(212, 181, 3, 0.4);
    color: #fff;
    transform: translateY(-7px);
}

.www:active {
    transform: translateY(-1px);
}












.news-carousel-container {
    width: 700px;
    height: 500px;
    position: relative;
    overflow: hidden;
    border-radius: 26px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin-top: 60rem;
    margin-left: 10rem;
}

.news-carousel {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.news-slide {
    min-width: 100%;
    box-sizing: border-box;
    padding: 20px;
    text-align: center;
}

.news-slide img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    border-radius: 10px;
}

.news-slide h3 {
    margin-top: 10px;
    font-size: 22px;
    color: #ffffff;
}

.news-slide p {
    font-size: 16px;
    color: #ffffff;
}

.news-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
}

.news-btn:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.news-prev {
    left: 30px;
}

.news-next {
    right: 30px;
}

.student-3000 {
    position: absolute;
    background-color: #E0CA5B;
    width: 100px;
    height: 100px;
    border-radius: 10px;
    margin-left: 51rem;
    margin-top: -22rem;
}

.student-bt {
    position: relative;
    text-align: center;
    color: #ffffff;
    font-weight: bold;
    font-size: 18px;
}












.image-slider {
    position: relative;
    width: 600px;
    height: 400px;
    overflow: hidden;
    margin-left: 55rem;
    margin-top: -31rem;
}

.image-magic {
    display: flex;

}

.image-magic img {
    width: 100%;
    max-width: 100%;
    border-radius: 30px;
}

.button-container {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}

.control-button {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}


.four-info-block {
    position: absolute;
    margin-top: -30rem;
}


.card-one {
    position: absolute;
    background: #E0CA5B;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 150px;
    margin-left: 100rem;
    margin-top: -24rem;
    cursor: default;
}

.card-one p {
    margin-top: -1rem;
    color: white;
    font-weight: bold;
    font-size: 18px;
}

.card-one h2 {
    color: white;
    font-weight: bold;
}


.card-two {
    position: absolute;
    background: #E0CA5B;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 150px;
    margin-left: 100rem;
    margin-top: -14rem;
    cursor: default;
}

.card-two p {
    margin-top: -1rem;
    color: white;
    font-weight: bold;
    font-size: 18px;
}

.card-two h2 {
    color: white;
    font-weight: bold;
}



.card-three {
    position: absolute;
    background: #E0CA5B;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 150px;
    margin-left: 100rem;
    margin-top: -4rem;
    cursor: default;
}

.card-three p {
    margin-top: -1rem;
    color: white;
    font-weight: bold;
    font-size: 18px;
}

.card-three h2 {
    color: white;
    font-weight: bold;
}





.card-four {
    position: absolute;
    background: #E0CA5B;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 150px;
    margin-left: 100rem;
    margin-top: 6rem;
    cursor: default;
}

.card-four p {
    margin-top: -1rem;
    color: white;
    font-weight: bold;
    font-size: 18px;
}

.card-four h2 {
    color: white;
    font-weight: bold;
}


.xz-btn {
    position: absolute;
    padding: 2em 20em;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #E0CA5B;
    border: none;
    border-radius: 20px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    margin-top: 8rem;
    margin-left: 58rem;
}

.xz-btn:hover {
    background-color: #d1c76f;
    box-shadow: 0px 15px 20px rgba(212, 181, 3, 0.4);
    color: #fff;
    transform: translateY(-7px);
}

.xz-btn:active {
    transform: translateY(-1px);
}













.custom-carousel-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    overflow: hidden;
    position: relative;
    margin-top: 25rem;
    margin-left: 5rem;
}

.custom-carousel {
    display: flex;
    transition: transform 0.5s ease-in-out;
    gap: 100px;
}

.custom-card {
    width: 250px;
    height: 350px;
    perspective: 1000px;
    cursor: pointer;
}

.flip-container {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.6s;
}

.custom-card:hover .flip-container {
    transform: rotateY(180deg);
}

.front,
.back {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: bold;
    color: white;
    backface-visibility: hidden;
    padding: 20px;
}

.front {
    background: #E0CA5B;
    font-size: 23px;
}

.back {
    background: #E0CA5B;
    transform: rotateY(180deg);
    flex-direction: column;
    font-size: 20px;
}

.custom-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 20px;
}

.custom-left {
    left: 0;
}

.custom-right {
    right: 0;
}












































/* Большие настольные компьютеры и ноутбуки */
@media (min-width: 1200px) {}

/* Портретные планшеты и средние настольные компьютеры */
@media (min-width: 992px) and (max-width: 1199px) {}

/* Портретные планшеты и небольшие настольные компьютеры */
@media (min-width: 768px) and (max-width: 991px) {}

/* Телефоны с альбомной ориентацией и планшеты с портретной ориентацией */
@media (max-width: 767px) {}

/* Горизонтальные телефоны и меньше */
@media (max-width: 480px) {
    .logo {
        left: 0;
    }

    .hamburger {
        left: 16rem;
    }
}